<!DOCTYPE HTML>
<html ng-app="add_prize">
<head>
<meta charset="utf-8">
<title>Add Prize</title>
<script src="angular.js"></script>
<script src="angular-cookies.js"></script>
<script src="common.js"></script>
<script src="add_prize.js"></script>
<script src="errmsg.js"></script>
<link rel="stylesheet" type="text/css" href="global.css">
</head>

<body ng-controller="add_prize_ctrl" onload="on_load()">
	<div class="content">
		<div class="form_layout">
			<span>捐贈主管：</span>
			<!--
			<input id="donator_input" class="textfield" type="text" ng-model="donator" ng-change="input_changed()"><br/>
			-->
			<select class="textfield" ng-model="donator" ng-change="input_changed()">
				<option ng-repeat="d in donators" value="{{d.jobid}}">{{d.name}}</option>
			</select><br/>
			<span>獎項名稱：</span>
			<input id="prize_name_input" class="textfield" type="text" ng-model="prize_name" ng-change="input_changed()"><br/>
		</div>
		<input type="button" ng-click="add_prize()" value="新增"/><br/>
		<span ng-show="prize_added">新增成功</span>
		<span class="error" ng-show="errmsg">{{errmsg}}</span>
	</div>
	<div class="footer">
	</div>
</body>
