<!DOCTYPE HTML>
<html ng-app>
<head>
<meta charset="utf-8">
<title>敗部復活獎</title>
<script src="angular.js"></script>
<script src="common.js"></script>
<script src="prize_phase2_show.js"></script>
<link rel="stylesheet" type="text/css" href="prize_phase2_show.css">
</head>

<body ng-controller="prize_phase2_ctrl">
	<div class="twocolumn">
		<h2>{{phase}}</h2>
		<div id="part1">
		<table>
			<tr ng-repeat="e in prizes">
				<td>{{e.donator}}</td><td>{{e.prize}}</td>
			</tr>
		</table>
		</div>
		<div id="part2">
		<table>
			<tr ng-repeat="f in prizes2">
				<td>{{f.donator}}</td><td>{{f.prize}}</td>
			</tr>
		</table>
		</div>
	</div>
</body>
