<!DOCTYPE HTML>
<html ng-app>
<head>
<meta charset="utf-8">
<title>Prize</title>
<script src="angular.js"></script>
<script src="errmsg.js"></script>
<script src="prize.js"></script>
<link rel="stylesheet" type="text/css" href="global.css">
</head>

<body ng-controller="prize_ctrl" onload="on_load()">
	<div class="content">
		<div class="search">
			<div class="form_layout">
				<span>輸入獎次：</span>
				<input id="id_input" class="textfield" type="text" ng-model="id_input" ng-change="query_prize_id()" onchange="on_change(this)"><br/>
				<span>輸入獎項名稱：</span>
				<input id="name_input" class="textfield" type="text" ng-model="name_input" ng-change="query_prize_name()" onchange="on_change(this)"><br/>
			</div>
		</div>
		<table ng-show="prizes" class="hasdata">
			<tr>
				<th>獎次</th><th>類別</th><th>名稱</th><th>中獎人</th><th>抽獎人</th>
			</tr>
			<tr ng-repeat="e in prizes" ng-class-odd="" ng-class-even="'even'">
				<td>{{e.serial}}</td><td>{{e.phase}}</td><td>{{e.name}}</td><td>{{e.winner}}</td><td>{{e.presenter}}</td>
			</tr>
		</table>
	</div>
	<div class="footer">
	</div>
</body>
