<!DOCTYPE HTML>
<html ng-app="queue">
<head>
<meta charset="utf-8">
<title>待領取清單</title>
<script src="angular.js"></script>
<script src="angular-cookies.js"></script>
<script src="errmsg.js"></script>
<script src="queue.js"></script>
<script src="common.js"></script>
<link rel="stylesheet" type="text/css" href="queue.css">
</head>

<body ng-controller="queue_ctrl">
	<div class="content">
		<h3 ng-show="ticking">離下次更新還有 {{ticking}} 秒</h3>
		<h3 ng-hide="queue">無待領獎品</h3>
		<h3 ng-show="loaddata">讀取資料中</h3>
		<h3 ng-show="retry_ticking">連線失敗，{{retry_ticking}} 秒後重試</h3>
		<h3 ng-show="abort_retry">連線失敗，請聯絡管理員</h3>
		<table class="hasdata" ng-show="queue">
			<tr>
				<th>領獎序號</th><th>類別</th><th>獎次</th><th>工號</th><th>姓名</th><th>名稱</th><th>領取確認</th>
			</tr>
			<tr ng-repeat="q in queue" ng-class-odd="" ng-class-even="'even'">
				<td>{{q.id}}</td>
				<td style="width:100px">{{q.phase}}</td>
				<td class="bigger">{{q.serial}}</td>
				<td>{{q.winner_jobid}}</td>
				<td style="width:100px">{{q.winner_name}}</td>
				<td>{{q.name}}</td>
				<td>
					<input type="button" value="確認" ng-disabled="q.is_sync" ng-click="confirm(q)"></input>
					<span ng-show="q.is_sync" class="success">已確認</span>
					<span ng-show="q.errmsg" class="error">{{q.errmsg}}</span>
				</td>
			</tr>
		</table>
	</div>
	<div class="footer">
	</div>
</body>
